
<%= render 'layouts/errors', :object => @tweet %>
<%= form_for @tweet, remote: true do |f| %>
  <div class="field">

    <%= f.text_area :content %>
  </div>
  <div class="actions"><%= f.submit "Tweet" %></div>
<% end %>

