<div class="row">
  <div class="large-3 columns">
    <h3>New Tweet</h3>
    <%= render 'form' %>
  </div>
  <div class="large-9 columns">
  	<h1>Tweets</h1>
  	<ul id="tweetlist">
      <% @tweets.each do |tweet| %>
        <li><%= tweet.content %></li>
       <% end %>
    </ul>
  </div>
</div>
